body {
    font-size: 130%; 
    font-family: "Roboto";/* Oswald*/
    color: #000000;
    letter-spacing: -1px;
    background-color: #f0f0f0;
    padding-bottom: 50px;
    padding-top:10px;
    /*Beige #f2e6d9 --- Dark grey #222325 --- Off white #f0f0f0 */
}


hr{
    padding: 0px;
}
.mainhr{
    max-width: 29.5cm;
}
.bumphr{
    height: 0px; 
    visibility: hidden;
}

h1{
  width: max-content;
  font-size: 200%;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
h2{
  max-width: 100%;
  font-size: 150%;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  text-align: justify;
}

main{
  text-align: justify;
  text-justify: inter-word;
  font-family: "Roboto"; /*Fira Sans Condensed*/
  letter-spacing: -0.8px;
  font-size: 100%;
  font-weight: 110%;
  max-width: 100%;
}
p{
  padding: 0px 0px 0px 0px;
  width: fit-content;
  margin: 0px;
}

table {
  min-width: 0px;
  min-height: 0px;
}
td{
  min-width: 0px;
  min-height: 0px;
  max-width: 20cm;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0px;
}

a{
  text-decoration: none;
  color: blue;
}
a:hover{
    color: #4d4fff;
}

.desktop-only-intro{
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
        h1.name{
            margin-left: auto;
            margin-right: auto;
            font-size: 200%;
        }

        img.headshot{
            width: 170px;
            height: 250px;
            border: 2px solid #000000;
            border-radius: 5px;
        }
        .email{
            margin-left: auto;
            margin-right: auto;
            padding: 0px 0px 0px 0px;
            font-size: 120%;
            color: #4066b3;
            a:hover{color: blue;}
        }
}

.mobile-only-intro{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
h1.mobile-only-intro.name{
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    letter-spacing: -0.5px;
}
img.mobile-only-intro.headshot{
    width: 230px;
    height: 366px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid #dddddd;
}
table.mobile-only-intro.about-me{
    margin-left:auto;
    margin-right:auto;
    tr{
        max-width:fit-content;
    }
}
.mobile-only-intro.email{
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
    font-size: 120%;
    color: #4066b3;
}

#navbar{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    /* padding:10px 0px 10px 0px; */
    text-align: center;
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
    
    background-color: #ffffff;
    border-radius: 5px;
    border: 3px solid #000000;
    /* outline: 4px solid #000000; */

    overflow:hidden;
    
    a{
        padding: 5px 40px 5px 40px;
        color: black;
        border:0px;
        border-radius:0px;
        outline:0px;
        margin:0px;
    }
    .tabButton:hover{
        background-color: #a8a8a8;
        color: #ffffff;
        cursor:pointer;
    }
    .tabButton.active{
        background-color: #2a2a2a;
        color: #ffffff;
    }
    .toggleButton{
        border-left: inherit;
    }
    .toggleButton:hover{
        background-color:#a25d5d;
        color: #ffffff;
        cursor:pointer;
    }
    .toggleButton.active{
        background-color:#9b3434;
        color: #ffffff;
    }
}


table.maintable{
    /* color: ; */
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 20px;
    tr{
      border-radius: 2px;
    }
}

.grids{
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    .fit{
        display: block;
        width: 100%;
        height: auto;
        background-size: cover;
        align: center;
    }
}

td.grids{
    min-width:300px;
}

.dates{
  display: inline;
  color: #636363;
  font-size: 80%;
}

.clickables {
  float: left;
  transition-duration: 0.4s;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px; 
  color: white;
  target: "_blank";
}
.clickables:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.clickables.broken{
    cursor:default;
}
.clickables.broken:hover {
  box-shadow: inset 0 0 0 10em #444444;
}

a.clickables{
  font: inherit;
  font-size: 90%;
}
a.clickables:hover{
  color: white;
}


.SURE23{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.SURE23 .clickables{background-color: #00359e;border: 0px #000000;}

.CAPSTONE{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.CAPSTONE .clickables{background-color: #00359e;border: 0px #000000;}

.Quandela{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.Quandela .clickables{background-color: #00359e;border: 0px #000000;}

.TA_SM{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.TA_SM .clickables{background-color: #00359e;border: 0px #000000;}


.hamilton{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.hamilton .clickables{background-color: #00359e;border: 0px #000000;}

.ireland{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.ireland .clickables{background-color: #00359e;border: 0px #000000;}

.cheshire{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.cheshire .clickables{background-color: #00359e;border: 0px #000000;}

.ising{
    background-color: #e6e6e6;
    outline: #000000 3px solid;
    td.grids{
        background-color: #e6e6e6;
        border-left: #000000 0px solid;
    }
}
.ising .clickables{background-color: #00359e;border: 0px #000000;}

td:nth-child(1){vertical-align: top;}
td:nth-child(2){vertical-align: middle;}

.desktop-only{display: block;}
.mobile-only{display: none;}
.destop-only-intro{display: block;}
.mobile-only-intro{display: none;}

.tabContent{
    /* outline:2px solid black; */
    display: none;
}

@media(pointer:coarse){
    /* custom css for "touch targets" */
    td:nth-child(2){display: none;}
     h2{letter-spacing: -0.5px;}
     h1{letter-spacing: -0.5px;}
    h2.project-title{font-size:130%;}
    .desktop-only{display: none;}
    .mobile-only{display: block;}
    .desktop-only-intro{display: none;}
    .mobile-only-intro{display: block;}
    .dates{display: none;}
    #navbar{display: none;}
    .tabContent{display: block;}          
}

.headanchor{
    scroll-margin-top: 50px;
}

html { scroll-behavior: smooth; }
